[Unit]
Description=rcmaker {name} Service
After=network.target

[Service]
Type=forking
WorkingDirectory={workingDirectory}
ExecStart={command} start -d
ExecReload={command} reload
ExecStop={command} stop
RemainAfterExit=yes
User={user}
Group={group}
[Install]
WantedBy=multi-user.target